 /* .container{width:200px;height:500px;background-color: red;} */
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
/* h1,h2,p{margin: 0;padding: 0;}  */
body{ font-family: "Figtree", sans-serif;width:100vw;background-color: rgb(241, 219, 118);display: flex;flex-direction: column;justify-content:center;align-items: center;}

 .container{background-color: white; display:flex;flex-direction: column;justify-content: space-around;align-items: center;padding:20px;width:350px;border: 1px solid black;border-radius: 16px;box-shadow: 10px 10px;height:490px}

 .inner-container{  width:97%;height:97%;display: flex;flex-direction: column;justify-content: space-between;}

 .img img{border-radius: 16px;width:100%}

 .learning h2 {background-color: rgb(240, 218, 122); padding:5px 10px;display: inline;border-radius: 8px;font-size:16px;margin:20px 0;}
 .course-title{font-size: 25px;font-weight: 800;}
 .description{font-weight: 200;color: rgb(97, 94, 94);}

 .authur{display:flex;font-size: 10px;align-items: center;}
 .authur img{}


 .attribution{margin-top: 20px;}